@import url('https://fonts.googleapis.com/css2?family=Montserrat');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --blue: #034275;
    --blue2: #0461db;
    --yellow: #FFE500;
}

body{
    background-color: var(--white);
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content:space-around;
    align-items:center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    min-height: 50px;
    background-color: #f7fcff;
    background: linear-gradient(to left, #03427517, #f1f8fd);
}

#venha-fazer-parte-paragrafo{
    font-size: 1.2rem;
}

.box-img-header{
    height: 100%;
}

.img-logo{
    max-width: 60px;
    height: 100%;
}


nav{
    display: flex; /*deixar os itens flexiveis um ao lado do outro*/
    gap: 2rem;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}

.nav-links{
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
    font-size: 1.1rem;
}

.nav-links:hover{
    color: var(--blue2);
    transition: .4s;
    text-decoration:underline;
    text-underline-offset: .5rem;
    
}

.box-btn-actions{
    display: flex;
    gap: 1rem;

}

button {
    padding: .6rem;
    font-size: .9rem;
    border-radius: 14px;
    cursor: pointer;
    transition: .4s;   
}

.btn-action{
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: var(--white);
    font-family: "Montserrat", sans-serif;
}

.btn-action:hover{
    background-color: var(--blue2);
    border: 1px solid var(--blue2);
    transition: .4s;
}


main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 4rem;
}

.first-section{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex: wrap;
    align-items: center;
    min-height: 400px;
    padding-left: 100px;
}

.first-section > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

h1 {
    font-size: 3rem;
    color: var(--blue);
    
}

#slogan{
    font-size: 3rem;
    color: var(--blue); 
}

/*botao eu quero*/
.link-action{
    display: flex;
    align-items: center;
    padding: 1.7rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    width: 12rem;
    height:0.1rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    color: var(--blue);
    margin-top: 20px;
}

/*img do truck eu quero*/
#truck-eu-quero{
    margin-right: 1rem;
    width: 2rem;
}

/*botao eu quero*/
.link-action:hover{
    display: flex;
    align-items: center;
    padding: 1.7rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    width: 12rem;
    height: 0.1rem;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: bold;
    background-color: yellow;
    border: 1px solid var(--blue);
    color: var(--blue)
}

.img-secao-inicial{
    max-width: 60rem;
    width: 110%;
    height: auto;
}




#venha-fazer-parte {
    background-image: linear-gradient(rgba(0, 43, 99, 0.5), rgba(0, 0, 0, 0.5)), url('imgs/bg-venhaFazerParte.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ajuste a altura conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
}

#venha-fazer-parte h1{
    color: white;
    padding-right: 15rem;
    font-size: 4rem;
}

footer{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    background-color: var(--blue);
}

footer > div{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: var(--blue);
    padding: 1rem;
    color: white;
    
    
}

#contato-footer{
    text-align: center;
    color: var(--white);
    margin-top: 1rem;
}


#sao-jose-footer{
    text-align: center;
    color: var(--white);
}


.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Opcional, se você quiser centralizar o texto também */
    padding: 1rem;
}

.company-section {
    padding: 1rem;
}





.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 28rem;
    max-width: 1200px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.form-container {
    flex: 1;
    max-width: 400px;
    padding: 10px;
}

.form-container h2{
    color: #034275;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1px;
    color: var(--blue);
}

input[type="text"],
input[type="email"] {
    margin-bottom: 1px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;  /* Remover outline padrão */
}

input[type="submit"] {
    padding: 20px;
    background-color: var(--blue);
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    font-size: 1em;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 3rem;
    
}

.button-container .btn-action {
    padding: 1.5rem 2rem;
    background-color: lightgray;
    color: var(--blue);
    border: none;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.4s, border-color 0.4s;
}

.button-container .btn-action:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    color: white;
}
















